# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [1]:
# 回傳A欄中索引為 2013-01-01 的值
# 回傳A欄與B欄中索引為 2013-01-01 的值
# 回傳A欄中索引為2013-01-01 到 2013-01-02的值
# 回傳A欄到C欄中索引為2013-01-01 到 2013-01-05的值

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df)

       col1      col2      col3
0 -0.284940  0.219520  0.108913
1  0.179733 -1.755907 -0.237032
2 -1.331093 -1.342136  1.339317
3  0.380270  0.510951 -1.084430
4 -0.074517 -0.842495  0.319638
5 -2.540458 -0.542994  1.753324

In [4]:
# - select the first 3 rows.
print(df.iloc[:3])

# - select the odd rows. (index = 1, 3, 5)
print(df.iloc[1::2])

# - select the last 2 columns.
print(df.iloc[-2:])

# - select the even columns. (index = 0, 2, 4)
print(df.iloc[::2])

       col1      col2      col3
0 -0.284940  0.219520  0.108913
1  0.179733 -1.755907 -0.237032
2 -1.331093 -1.342136  1.339317
       col1      col2      col3
1  0.179733 -1.755907 -0.237032
3  0.380270  0.510951 -1.084430
5 -2.540458 -0.542994  1.753324
       col1      col2      col3
4 -0.074517 -0.842495  0.319638
5 -2.540458 -0.542994  1.753324
       col1      col2      col3
0 -0.284940  0.219520  0.108913
2 -1.331093 -1.342136  1.339317
4 -0.074517 -0.842495  0.319638

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [5]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df)

     0   1   2   3
0   13  25  34  37
1   36  18  10  13
2   34  16  15  23
3   30  32  20  30
4   25  36  24  22
5   13  24  14  33
6   10  20  23  20
7   20  35  13  23
8   19  23  17  14
9   26  13  23  11
10  39  16  23  26
11  36  10  16  30
12  26  32  33  37
13  16  28  30  24
14  14  21  22  19

In [6]:
# - 1. filtered by first column > 20?
print(df[df[0]>20])

# - 2. filtered by first column + second column > 50
print(df[(df[0]+df[1])>50])

# - 3. filtered by first column < 30 or second column > 30
print(df[(df[0]<30) & (df[1]>30)])

# - 4. filtered by total sum of row > 100
print(df[df.sum(axis=1)>100])

     0   1   2   3
1   36  18  10  13
2   34  16  15  23
3   30  32  20  30
4   25  36  24  22
9   26  13  23  11
10  39  16  23  26
11  36  10  16  30
12  26  32  33  37
     0   1   2   3
1   36  18  10  13
3   30  32  20  30
4   25  36  24  22
7   20  35  13  23
10  39  16  23  26
12  26  32  33  37
     0   1   2   3
4   25  36  24  22
7   20  35  13  23
12  26  32  33  37
     0   1   2   3
0   13  25  34  37
3   30  32  20  30
4   25  36  24  22
10  39  16  23  26
12  26  32  33  37